<!-- highlights -->
<div class="highlights">
  <div class="container">
    <div class="row justify-content-center">
      {% for highlight in site.data.home.highlights %}
        <div class="col-md-3 highlight-item">
          <img src="{{ site.image_base_url }}/{{ highlight.img }}" class="img-fluid" alt="{{ highlight.title }}">
          <p class="highlight-title text-uppercase mb-0">
            <a href="{{ highlight.url }}">{{ highlight.title }}</a>
          </p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
